@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="uiHeaderController">
    <div id="header-message" class="alert" ng-class="messageClass" style="display:none;">
        {{message}}
    </div>
</div>
<div data-ng-view="" id="ng-view" class="view">

</div>
